# Copyright (c) 2014, moddingg33k. All rights reserved.
#
# This is an extension to the init.rc script written
# for:
#			 	- sληορsιs - Kernel
#
# It has to be included in the init.rc script by adding:
#	import /init.synopsis.rc
#
#

on boot

# Misc permissions
chown -R root shell /synopsis
chmod -R 0777 /synopsis
chmod 0666 /dev/erandom
chmod 0666 /dev/frandom

# Kernel Samepage Merging (KSM)
write /sys/kernel/mm/ksm/deferred_timer 1

# FRANDOM
on property:persist.synopsis.frandom=1
	start synopsis-frandom

#~~~~~~~~~~~~~~~~~~~~
#  SERVICEs SECTION
#~~~~~~~~~~~~~~~~~~~~

# frandom service
service synopsis-frandom /system/bin/sh /synopsis/service.frandom.sh
    class main
	user root
	group shell
	oneshot
	disabled
